---
import Header from '../components/Header.vue';
import ProductImage from '../components/ProductImage.vue';
import ProductQuantity from '../components/ProductQuantity.vue';
import LightBox from '../components/LightBox.vue';
import MobileNav from '../components/Navigation/MobileNav.vue';
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>Frontend Mentor | E-commerce product page</title>

	<link rel="icon" type="image/x-icon" href="/images/favicon-32x32.png" />
	<style global>
		@import "../styles/global.css";
	</style>

</head>
<body class="font-kumbh">
	<Header client:load />
	<main class="flex flex-col lg:flex-row items-center lg:gap-20 lg:max-w-5xl lg:mx-auto lg:mt-20">
		<ProductImage client:load />
		<section class="flex flex-col gap-4 p-6 lg:p-8">
			<h1 class="text-brand-orange uppercase tracking-widest text-xs font-bold">Sneaker Company</h1>
			<h2 class="font-bold text-3xl lg:text-4.5xl text-neutral-darkblue">Fall Limited Edition Sneakers</h2>
			<p class="text-neutral-darkgrayblue text-sm lg:text-base lg:my-4">These low-profile sneakers are your perfect casual wear companion. Featuring a 
  			durable rubber outer sole, they’ll withstand everything the weather can offer.</p>
			<div class="flex items-center lg:flex-col lg:items-start justify-between">
				<div class="flex items-center gap-4">
					<p class="font-bold text-3xl text-neutral-darkblue">$125.00</p>
					<p class="px-1.5 py-0.5 text-sm rounded bg-brand-paleorange text-brand-orange font-bold">50%</p>
				</div>
				<p class="text-neutral-grayblue font-bold text-lg line-through">$250.00</p>
			</div>
			<div class="flex flex-col lg:flex-row gap-4 mt-6">
				<ProductQuantity client:visible />
			</div>
		</section>
	</main>
	<LightBox client:load />
	<MobileNav client:load />
</body>
</html>
