---
import Header from '../components/Header.astro';
import VueCounter from '../components/VueCounter.vue';
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>Frontend Mentor | E-commerce product page</title>

	<link rel="icon" type="image/x-icon" href="/assets/images/favicon-32x32.png" />
	<style global>
		@import "../styles/global.css";
	</style>

</head>
<body class="font-kumbh">
	<Header />
	<main class="flex flex-col items-center p-4">
	</main>
</body>
</html>
